# Backend Server Configuration
SERVER_HOST=127.0.0.1
SERVER_PORT=5000
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,file://*

# Security Authentication Token
API_SECRET_KEY=local_sec_token_984712839

# RAG & HuggingFace Models Settings
EMBEDDING_MODEL_NAME=sentence-transformers/all-MiniLM-L6-v2
LLM_MODEL_NAME=MBZUAI/LaMini-Flan-T5-248M
MAX_FILE_SIZE_MB=50
